<h1 id="title">
	<a href="/" id="title_link">
		인천과학예술영재학교<br>
		시간표 작성 서비스
	</a>
</h1>

<p class="description">
	이 프로젝트는 <strong>인천과학예술영재학교</strong>의 지원을 받아 제작되었습니다.<br>
</p>
<hr>
<ul class="menu_list">
	<li class="menu_item">
		<a href="/enroll/" class="menu_link">
			<img class="menu_img" src="/img/enrollment_start.png" alt="수강신청 시작">
			<span class="menu_text">수강신청 시작</span>
		</a>
	</li>
	<li class="menu_item">
		<a href="/view/" class="menu_link">
			<img class="menu_img" src="/img/view_timetable.png" alt="시간표 보기">
			<span class="menu_text">시간표 보기</span>
		</a>
	</li>
</ul>
<hr>