<!DOCTYPE html>
<html lang="ko-KR">
	<head>
		<% include ./global/siteinfo %>
		<link rel="stylesheet" href="/css/about.css">
	</head>
	<body>
		<div id="wrap">
			<div id="content">
				<% include ./global/header %>

				<% include ./global/footer %>
			</div>
		</div>
	</body>
</html>