<!DOCTYPE html>
<html lang="ko-KR">
	<head>
		<% include ./global/siteinfo %>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<div id="wrap">
			<div id="content">
				<% include ./global/header %>
				<h2 class="subtitle">공지사항</h2>
				<ul class="board_list">
					<% posts.forEach((post) => { %>
						<li class="board_item">
							<a href="/notice?id=<%= post._id %>" class="board_link"><%= post.title %></a>
						</li>
					<% }); %>
				</ul>
				<% include ./global/footer %>
			</div>
		</div>
	</body>
</html>