<!DOCTYPE html>
<html lang="ko-KR">
	<head>
		<% include ./global/siteinfo %>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<div id="wrap">
			<div id="content">
				<% include ./global/header %>
				<h2 class="subtitle">공지사항</h2>
				<ul class="board_list">
					<li class="board_item">
						<a href="/notice?index=0" class="board_link">준비중입니다</a>
					</li>
					<li class="board_item">
						<a href="/notice?index=0" class="board_link">준비중입니다</a>
					</li>
					<li class="board_item">
						<a href="/notice?index=0" class="board_link">준비중입니다</a>
					</li>
					<li class="board_item">
						<a href="/notice?index=0" class="board_link">준비중입니다</a>
					</li>
					<li class="board_item">
						<a href="/notice?index=0" class="board_link">준비중입니다</a>
					</li>
					<li class="board_item">
						<a href="/notice?index=0" class="board_link">준비중입니다</a>
					</li>
					<li class="board_item">
						<a href="/notice?index=0" class="board_link">준비중입니다</a>
					</li>
					<li class="board_item">
						<a href="/notice?index=0" class="board_link">준비중입니다</a>
					</li>
					<li class="board_item">
						<a href="/notice?index=0" class="board_link">준비중입니다</a>
					</li>
					<li class="board_item">
						<a href="/notice?index=0" class="board_link">준비중입니다</a>
					</li>
				</ul>
				<% include ./global/footer %>
			</div>
		</div>
	</body>
</html>