<!DOCTYPE html>
<html lang="ko-KR">
	<head>
		<% include ./global/siteinfo %>
		<link rel="stylesheet" href="/css/security.css">
	</head>
	<body>
		<div id="wrap">
			<div id="content">
				<% include ./global/header %>
				<h2>우리는 학생들의 개인정보 보호를 최우선으로 생각합니다</h2>
				<p>
				맞습니다. 이 사이트는 학생들이 만들었습니다.<br>
				다만 그렇다고 허접한 사이트가 아닙니다.<br>
				학생들의 개인정보 보호를 위해 다음과 같은 조치를 취하고 있습니다.<br>
				</p>
				<ol>
					<li>
						<h3>학생들의 개인정보를 무분별하게 수집하지 않습니다</h3>
						저희가 수집하는 개인정보는 다음과 같습니다.<br>
						<ol>
							<li>아이디</li>
							<li>암호화된 비밀번호</li>
							<li>학년</li>
						</ol>
						비밀번호는 

					</li>
				</ol>
				<% include ./global/footer %>
			</div>
		</div>
	</body>
</html>